/.venv
/.idea
/.env
/wandb/
/test_langchain.ipynb
/key.txt
/test_chat.ipynb
/test_langchain.ipynb
/test_llava.ipynb
/Untitled.png
/cj/
/.streamlit/
/test_ollama_lava.ipynb
/test_pdf/
/docvqa_questions
/ollama_test.jpeg
/Untitled.png
/docvqa/
__pycache__/
